<?xml version="1.0"?>
<!-- 
/**
 * @category   EP
 * @package    Ep_Customerdiscount
 * @author     Enzo Perrotta
 * @license    http://www.gnu.org/licenses/gpl-3.0-standalone.html (GPL 3.0)
 */
 -->
<config>
    <modules>
        <Ep_Customerdiscount>
            <version>0.1.0</version>
        </Ep_Customerdiscount>
    </modules>
    <frontend>
        <routers>
            <manager>
                <use>standard</use>
                <args>
                    <module>Ep_Customerdiscount</module>
                    <frontName>customerdiscount</frontName>
                </args>
            </manager>
        </routers>
        <layout>
            <updates>
                <customerdiscount>
                    <file>customerdiscount.xml</file>
                </customerdiscount>
            </updates>
        </layout>
		<events>
			<catalog_product_get_final_price>
				<observers>
					<customerdiscount>
						<class>customerdiscount/observer</class>
						<method>processFrontFinalPrice</method>
					</customerdiscount>
				</observers>
			</catalog_product_get_final_price>
		</events>
    </frontend>
    <admin>
        <routers>
			<customerdiscount>
				<use>admin</use>
				<args>
					<module>Ep_Customerdiscount</module>
					<frontName>customerdiscount</frontName>
				</args>
			</customerdiscount>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<customerdiscount module="customerdiscount">
				<title>Customerdiscount</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="customerdiscount">
						<title>Manage Discounts</title>
						<sort_order>0</sort_order>
						<action>customerdiscount/adminhtml_customerdiscount</action>
					</items>
				</children>
			</customerdiscount>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Ep_Customerdiscount>
							<title>Customerdiscount Module</title>
							<sort_order>10</sort_order>
						</Ep_Customerdiscount>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customerdiscount>
					<file>customerdiscount.xml</file>
				</customerdiscount>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <customerdiscount>
                <class>Ep_Customerdiscount_Model</class>
                <resourceModel>customerdiscount_mysql4</resourceModel>
            </customerdiscount>
            <customerdiscount_mysql4>
                <class>Ep_Customerdiscount_Model_Mysql4</class>
                <entities>
                    <customerdiscount>
                        <table>ep_customerdiscount</table>
                    </customerdiscount>
                    <customergrid>
                        <table>ep_customerdiscount_customer</table>
                    </customergrid>
                </entities>
            </customerdiscount_mysql4>
            <catalogrule>
            	<rewrite>
            		<rule_condition_product>Ep_Customerdiscount_Model_Override_CatalogRule_Rule_Condition_Product</rule_condition_product>
            	</rewrite>
            </catalogrule>
        </models>
        <resources>
        <!-- 
            <manager_setup>
                <setup>
                    <module>Excellence_Manager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </manager_setup>
          -->
            <customerdiscount_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerdiscount_write>
            <customerdiscount_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerdiscount_read>
        </resources>
        <blocks>
            <customerdiscount>
                <class>Ep_Customerdiscount_Block</class>
            </customerdiscount>
        </blocks>
        <helpers>
            <customerdiscount>
                <class>Ep_Customerdiscount_Helper</class>
            </customerdiscount>
        </helpers>
    </global>
</config>